@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.image__gallary img {
  animation: moveUpDown 3s infinite !important;
}

.header2 {
  animation: moveUpDown 3s infinite !important;
}
body {
  font-family: "Poppins", sans-serif;
  animation: fadein 1s ease-in-out;
}

.logo {
  width: 50px;
  height: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 80px 16px; 
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section__title {
  font-size: 32px; 
  font-weight: 600;
  color: #0d213f;
  margin-bottom: 16px; 
}

.section__subtitle {
  font-size: 16px; 
  color: #0d213f;
  max-width: 600px;
}

.btn {
  white-space: nowrap;
  padding: 12px 32px; 
  outline: none;
  border: none;
  font-size: 16px; 
  color: #ffffff;
  background-color: #3685fb;
  border-radius: 32px; 
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #2666c5;
}

.btn1 {
  white-space: nowrap;
  padding: 12px 32px; 
  outline: none;
  border: none;
  font-size: 16px; 
  color: #ffffff;
  background-color: #3685fb;
  border-radius: 32px; 
  cursor: pointer;
  transition: 0.3s;
}

.btn1:hover {
  background-color: #2666c5;
}

.btn2 {
  white-space: nowrap;
  padding: 12px 32px; 
  outline: none;
  border: none;
  font-size: 16px; 
  color: #ffffff;
  background-color: #3685fb;
  border-radius: 32px; 
  cursor: pointer;
  transition: 0.3s;
}

.btn2:hover {
  background-color: #2666c5;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 16px; 
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 19.2px; 
  font-weight: 600;
  color: #0d213f;
  cursor: pointer;
}

.nav__logo span {
  color: #3685fb;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px; 
}

.link a {
  padding: 0 16px; 
  color: #0d213f;
  transition: 0.3s;
}

.link a:hover {
  color: #3685fb;
}

header {
  background-color: #fafcff;
}

.header__container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px; 
}

.header__image {
  position: relative;
}

.header__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 8px solid #ffffff;
  border-radius: 32px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.header__image img:nth-child(1) {
  max-width: 350px;
  transform: translate(-75%, -50%);
}

.header__image img:nth-child(2) {
  max-width: 250px;
  transform: translate(0%, -25%);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content > div {
  max-width: 400px;
  display: grid;
  gap: 16px; 
}

.header__content .sub__header {
  font-size: 16px;
  font-weight: 600;
  color: #3685fb;
}

.header__content h1 {
  font-size: 48px; 
  line-height: 64px; 
  font-weight: 800;
  color: #0d213f;
}

.header__content .action__btns {
  display: flex;
  align-items: center;
  gap: 32px; 
  margin-top: 16px; 
}

.story {
  display: flex;
  align-items: center;
  gap: 32px; 
  cursor: pointer;
}

.video__image {
  position: relative;
}

.video__image img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.video__image span {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.video__image span i {
  padding: 8px; 
  font-size: 16px; 
  color: #3685fb;
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.story > span {
  font-size: 16px; 
  font-weight: 600;
  color: #0d213f;
}

.destination__nav {
  display: flex;
  gap: 16px; 
}

.video-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 800px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.destination__nav span {
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  color: #3685fb;
  border: 1px solid #3685fb;
  border-radius: 100%;
  font-size: 24px; 
  cursor: pointer;
  transition: 0.3s;
}

.destination__nav span:hover {
  color: #ffffff;
  background-color: #3685fb;
}

.destination__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.destination__card {
  overflow: hidden;
  position: relative;
  isolation: isolate;
  cursor: pointer;
}

.destination__card img {
  border-radius: 16px; 
}

.destination__details {
  position: absolute;
  width: calc(100% - 32px); 
  padding: 16px; 
  bottom: -96px; 
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}

.destination__card:hover .destination__details {
  bottom: 16px;
}

.destination__title {
  font-size: 15px;
  margin-bottom: 8px;
}

.destination__subtitle {
  font-size: 16px;
  font-weight: 600;
}

.trip {
  background-color: #fafcff;
}

.trip__container :is(.section__title, .section__subtitle, .view__all) {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.trip__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin: 64px 0;
}

.trip__card {
  border-radius: 16px; 
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.trip__details {
  padding: 16px; 
  display: grid;
  gap: 8px; 
  font-size: 16px;
  font-weight: 600;
  color: #0d213f;
  background-color: #ffffff;
  cursor: pointer;
}

.gallary__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.image__gallary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px; 
}

.gallary__col {
  display: grid;
  place-content: center;
  gap: 16px; 
}

.gallary__col img {
  border-radius: 16px; 
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.gallary__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallary__content > div {
  max-width: 400px;
}

.gallary__content .section__subtitle {
  margin-bottom: 32px; 
}

.footer {
  background-color: #0d213f;
}


.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px; 
  color: #fafcff;
}

.contacts h3 {
  font-size: 24px; 
  font-weight: 600;
  margin-bottom: 32px; 
}

.contacts h3 span {
  color: #3685fb;
}

.contacts a {
  display: block;
  font-size: 14px;
  margin-bottom: 16px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;

}

.contacts a:hover {
  color: #3685fb;
}

.contacts a span {
  font-weight: 600;
}

.contacts h4 {
  font-size: 16px; 
  font-weight: 600;
  margin-bottom: 32px; 
}

.copyright {
  max-width: 1200px;
  margin: auto;
  padding: 8px; 
  text-align: center;
  font-size: 12.8px; 
  color: #fafcff;
  border-top: 1px solid #767268; 
}

@media (width < 1200px) {
  .header__image img:nth-child(1) {
    max-width: 300px;
  }

  .header__image img:nth-child(2) {
    max-width: 200px;
  }
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__image {
    min-height: 500px;
  }

  .destination__grid {
    gap: 16px; 
  }

  .trip__grid {
    grid-template-columns: repeat(2, 1fr);
    
  }
  .btn1 {
    width: 35%;
  }
}

@media (width < 600px) {
  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .trip__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallary__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .subscribe__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .btn1 {
    display:none;
  }

  .header1 {
    margin-left: 50px;
  }
  .header2 {
    display: none;
  }
  .section__subtitle {
    font-weight: bold;
  }
  .btn {
    margin-left: 10px;

  }
  .check {
    display: none;
  }

  .action__btns {
    margin-left: 20px;
  }

  .text {
    font-size: 30px !important;
  }

  .reviews__grid {
    display: flex; 
    flex-flow: column;
  }

  .review__card {
    display: flex;
  }
  .review__image {
    display: none;
  }

  .partners__grid {
    display: flex;
    flex-flow: column;
    max-width: 300px;
  }
  .btn2 {
    display: flex;
    justify-content: center;
    width: 200px;
  }
  h2 {
    font-size: 20px !important;
  }
  .partners__card {
    width: 300px;
  }
}

.reviews__grid {
  display: flex; 
  justify-content: space-between; 
  flex-wrap: nowrap;
}

.review__card {
  display: flex; 
  align-items: center; 
  max-width: 500px;
  height: 200px;
  border-radius: 10px; 
  overflow: hidden;
}

.review__image img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: 5px;
}

.review__name, .review__text, .review__stars {
  margin-left: 10px; 
}

.reviews {
  background-color: #fafcff;
}

.review__stars {
  color: rgb(243, 243, 58);
  font-size: 20px;
}
.button {
  display: flex;
  justify-content: center;
}

.partners__grid {
  display: flex; 
  justify-content: space-between; 
  flex-wrap: nowrap;
  width: 1200px;
}

.partners__card {
  display: flex; 
  align-items: center; 
  max-width: 500px;
  height: 200px;
  border-radius: 10px;
}

.partner__image img {
  width: 70px;
  height: 70px;
}

.partner__name {
  margin-left: 20px; 
}
